# Папки сборки Qt Creator (Shadow builds)
build*/

# Файлы пользовательских настроек Qt Creator
*.CMakeLists.txt.user
*.pro.user
*.pro.user.*

# Файлы баз данных (чтобы не затирать чужие локальные БД)
*.db
*.sqlite

# Временные файлы компиляции
*.o
*.obj
*.exe
